<!-- djlint:off -->

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    {% include 'components/head.html' %}
    <title>{% block title %} NOCD - BE {% endblock %}</title>
  </head>
  <body class="bg-base-300 h-screen">
    <main class="px-20 w-full flex flex-col gap-10">
      {% comment %} Navbar {% endcomment %}
      <nav>{% include 'components/navbar.html' %}</nav>

      {% comment %} Tabel Endpoint {% endcomment %}
      <section class="w-full bg-base-100 rounded-lg p-6 shadow-sm">
        <h2 class="font-poppins text-2xl font-semibold mb-6">
          Endpoint - Backend NOCD
        </h2>
        <h3 class="font-popins text-lg mb-3">
          Base Url : <code class="kbd">http://127.0.0.1:8000/api</code>
        </h3>
        <div class="overflow-x-auto">
          <table class="table w-full border border-nocd/50">
            <thead class="border border-nocd/50 bg-base-200 rounded-lg">
              <tr>
                <th class="rounded-tl-lg">Endpoint</th>
                <th>Method</th>
                <th class="rounded-tr-lg">Deskripsi Singkat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>/api/stringdb-image</code></td>
                <td>POST</td>
                <td>
                  Fetch dari STRINGDB untuk menghasilkan gambar. Jika sudah ada
                  pada folder maka ambil dari folder
                </td>
              </tr>
              <tr>
                <td><code>/api/stringdb-table</code></td>
                <td>GET</td>
                <td>Tampilkan data dari tsv</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
