{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% comment %}Tailwind{% endcomment %}
<link rel="stylesheet" href="{% static 'css/output.css' %}" />

{% comment %}Favicon{% endcomment %}
<link rel="shortcut icon" href="{% static 'favicon/logo.svg' %}" type="image/x-icon" />

{% comment %}Alpine{% endcomment %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.2/dist/cdn.min.js"></script>

{% comment %}CSS Sendiri{% endcomment %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">